<!DOCTYPE html>
<html>
<head>
    <script src="/js_files/jquery-3.1.1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/main.min.css">
</head>
<body>

<script language="JavaScript">

    $(window).on('load', function() {
        $("#pleaseChangeMe").load("/log/frame", function () {
            createModal();
        });
        // createModal();

        /*$.get('/log', function (data) {
           // alert(data);
           document.getElementById("pleaseChangeMe").innerHTML = data;
           createModal();

           load()
       })*/
    });
</script>
<div id="pleaseChangeMe">
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

  </div>

</div>

<script>
    function createModal() {

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("edit_log_entry");

// When the user clicks the button, open the modal
btn.onclick = function() {

    var logSerial = $("#logPrint").contents().find("#logID_text")[0].textContent;
    //alert(logSerial);

    $.get('/log/edit/'+logSerial).done(function (response) {
        $('.modal-content').html(response);

        var span = document.getElementById("cancel");
        span.onclick = function () {
            modal.style.display = "none";
        };

        $('#record').click(function () {
            var arr = {};
            var table = $(".return_table");
            // alert(($('#logName').html()));
            if ($('#logName').html() === 'MESSAGE') {
                arr['msg'] = document.getElementById('textInput').value
            }
            else {
                var loop = table.find('.itext').each(function test(index, element) {
                    type = $(this).attr('type');
                    if (type != 'radio') {
                        var serial = $(this).attr('name');
                        var data = $(this).val();
                        if (data == null || data == "") {
                            var missing = confirm("You are missing a serial. Would you like to continue?");
                            if (missing == true) {
                            }
                            else {
                                console.log("recording");
                                return true;
                            }
                        }
                        arr[serial] = data;
                    }
                    else {
                        if ($(this).is(':checked')) {
                            var serial = $(this).attr('name');
                            var data = $(this).val();
                            arr[serial] = data;
                        }
                        else {
                        }
                    }
                });
            }

            if (loop == true) {
                return;
            }
            // alert();
            var to = $('#inputTo').val();
            var from = $('#inputFrom').val();
            if (to == null || to == "") {
                alert("Please enter a value for the To field");
                return;
            }
            if (from == null || from == "") {
                alert("Please enter a value for the From field");
                return;
            }

            $.extend(arr, {return_type: $('#return_type').html()});
            $.extend(arr, {logID: document.getElementById('logID_Content').innerHTML});
            $.extend(arr, {time: document.getElementById('logTime').innerHTML});
            $.extend(arr, {name: document.getElementById('logName').innerHTML});
            $.extend(arr, {cs: document.getElementById('callsign').textContent});
            $.extend(arr, {duty: document.getElementById('duty_officer').textContent});
            $.extend(arr, {net: document.getElementById('net_name').textContent});
            $.extend(arr, {receiver: document.getElementById('inputTo').value});
            $.extend(arr, {sender: document.getElementById('inputFrom').value});

            var checked = document.getElementById("check").checked;

            $.post("/log/edit/" + document.getElementById('logID_Content').innerHTML, arr, function (data, status) {
                document.getElementById('printf').contentDocument.body.innerHTML = data;
                if (checked) {
                    //document.getElementById('printf').style.visibility = 'visible';
                    window.frames["printf"].focus();
                    window.frames["printf"].print();
                    //document.getElementById('printf').style.visibility = 'hidden';
                }
                modal.style.display = "none";
            });
        });

        modal.style.display = "block";
    });
};


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};
}
</script>

</body>
</html>
