<!doctype html>
<!-- DO NOT CHANGE THE NAME OR LOCATION OF THIS FILE-->
<html lang="en">
<!-- This is just placeholder code where the new wiki's HTML should be copy and pasted -->
<head>
<title>CMAPS Wiki</title>
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
</head>
<body>
	<div style="text-align: center;">
	  <h1>New Wiki Coming Soon!!</h1>
	  <p>This is just placeholder text</p>
	  <a href="/">Return to CMAPS Home Page</a><br>
	  <a href="https://sites.google.com/a/knox.nsw.edu.au/knox_stem_2015/">Continue to Old Wiki</a>
	</div>

	<!--
               _,........__
            ,-'            "`-.
          ,'                   `-.
        ,'                        \
      ,'                           .
      .'\               ,"".       `
     ._.'|             / |  `       \
     |   |            `-.'  ||       `.
     |   |            '-._,'||       | \
     .`.,'             `..,'.'       , |`-.
     l                       .'`.  _/  |   `.
     `-.._'-   ,          _ _'   -" \  .     `
`."""""'-.`-...,---------','         `. `....__.
.'        `"-..___      __,'\          \  \     \
\_ .          |   `""""'    `.           . \     \
  `.          |              `.          |  .     L
    `.        |`--...________.'.        j   |     |
      `._    .'      |          `.     .|   ,     |
         `--,\       .            `7""' |  ,      |
            ` `      `            /     |  |      |    _,-'"""`-.
             \ `.     .          /      |  '      |  ,'          `.
              \  v.__  .        '       .   \    /| /              \
               \/    `""\"""""""`.       \   \  /.''                |
                `        .        `._ ___,j.  `/ .-       ,---.     |
                ,`-.      \         ."     `.  |/        j     `    |
               /    `.     \       /         \ /         |     /    j
              |       `-.   7-.._ .          |"          '         /
              |          `./_    `|          |            .     _,'
              `.           / `----|          |-............`---'
                \          \      |          |
               ,'           )     `.         |
                7____,,..--'      /          |
                                  `---.__,--.'

	-->
</body>
</html>

