<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
</head>
    <body background="/static/new/images/patterBG.jpg">
    <title>CMAPS Home</title>
    <style>
    #droplist {
    	width: 284px !important;
    }
    </style>
<div  align="center">
   <header>
   <a href="/">
    	<img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
    </a> 
   </header>
</div>
<div  align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li id="droplist"><a href="/track_map/dyn">View Map</a></li>
                <li id="droplist"><a href="/track_database">View Database</a></li>
				<li id="droplist"><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://cmaps-wiki.000webhostapp.com/">Wiki</a></li>
		<li><a href="http://cmaps.knox.nsw.edu.au/training/cadets">Training</a>
                        <ul class="hidden">
                            <li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/signalers">Signals</a></li>
                            <li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/operations">Operations</a></li>
                            <li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/q-store">Q-Store</a></li>
                            <li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/admin">Admin</a></li>
                        </ul>
                    </li>
	</ul>
</div>
<!--               _.--""`-..
            ,'          `.
          ,'          __  `.
         /|          " __   \
        , |           / |.   .
        |,'          !_.'|   |
      ,'             '   |   |
     /              |`--'|   |
    |                `---'   |
     .   ,                   |                       ,".
      ._     '           _'  |                    , ' \ `         
  `.. `.`-...___,...---""    |       __,.        ,`"   L,|
  |, `- .`._        _,-,.'   .  __.-'-. /        .   ,    \
-:..     `. `-..--_.,.<       `"      / `.        `-/ |   .
  `,         """"'     `.              ,'         |   |  ',,     
    `.      '            '            /          '    |'. |/    
      `.   |              \       _,-'           |       ''       
        `._'               \   '"\                .      |      
           |                '     \                `._  ,'      
           |                 '     \                 .'|      
           |                 .      \                | |      
           |                 |       L              ,' |      
           `                 |       |             /   '      
            \                |       |           ,'   /				 
          ,' \               |  _.._ ,-..___,..-'    ,'
         /     .             .      `!             ,j'
        /       `.          /        .           .'/
       .          `.       /         |        _.'.'
        `.          7`'---'          |------"'_.'
       _,.`,_     _'                ,''-----"'
   _,-_    '       `.     .'      ,\
   -" /`.         _,'     | _  _  _.|
    ""--'---"""""'        `' '! |! /
                            `" " -'                                 
                                                                        ______ _____  ___ ______ 
                                                                        | ___ \  _  |/ _ \| ___ \
                                                                        | |_/ / | | / /_\ \ |_/ /
                                                                        |    /| | | |  _  |    / 
                                                                        | |\ \\ \_/ / | | | |\ \ 
                                                                        \_| \_|\___/\_| |_|_| \_|

-->

<div align="center">
	<section id="content-section">
	        <div class="body" align="centre">
			<p style="font-family:universltstd-ultracn;font-size:30px;">
			   <br>		Welcome to the Cadet Mapping and Positioning System
				  <hr width="40%" border-color="#003399">
			<table>
  <tr>
    <th>			<a href="/track_map/dyn" style="display: block;">
			   <object data="/static/new/images/fi-compass.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
    <th>			<a href="/track_database" style="display: block;">
			   <object data="/static/new/images/fi-database.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
    <th>			<a href="/assignments" style="display: block;">
			   <object data="/static/new/images/fi-clipboard-notes.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
  </tr>
</table>
			</p>
		 </div>
	</section>
</div>
</body>
</html>
