<!doctype html>

<html lang="en">

<style type="text/css">
	#p {
		color: white;
		font-family: universltstd;
	}
	#droplist {
    	width: 284px !important;
    }
</style>
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
</head>
    <body background="/static/new/images/patterBG.jpg">
    <title>Signalers</title>

<div  align="center">
   <header>
   <a href="/">
    	<img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
    </a> 
   </header>
</div>
<div  align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li id="droplist"><a href="/track_map/dyn">View Map</a></li>
                <li id="droplist"><a href="/track_database">View Database</a></li>
				<li id="droplist"><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://cmaps-wiki.000webhostapp.com/">Wiki</a></li>
		<li><a href="http://cmaps.knox.nsw.edu.au/training/cadets">Training</a>
		<ul class="hidden">
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/signalers">Signals</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/operations">Operations</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/q-store">Q-Store</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/admin">Admin</a></li>
		</li>
	</ul>
</div>

 <div style="width: 80%;background-color: white; margin: 0 auto; padding: 30px 30px">
<p><span style="font-weight: 400;">Signals</span></p>
<p><span style="font-weight: 400;">For the CMAPS units</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">For the units signals need to know how to use and track the CMAPS units </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Signals also need to know how CMAPS units work and what to do if they&rsquo;re not working</span></li>
</ul>
<p><span style="font-weight: 400;">For the nav checkpoints</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Signals need to make sure that the units are charged and working to be able to use in the field</span></li>
</ul>
<p><span style="font-weight: 400;">For the harbour lights</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Signals need to know how to be able to get these up and ready to use in time and make sure they work</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">CMAPS Operating instructions:</span></p>
<p><span style="font-weight: 400;">Resetting the device</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Press both of the reset buttons (one silver, one red) when the device is powered on. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Pay attention to the blue light near the reset button, </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the light is constant the device is initialising, give it some time. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">As long as the blue light is flashing, check the LCD screen to see whether it has a lock or is currently acquiring one.</span></li>
</ul>
<p><span style="font-weight: 400;">Care and management of the Device</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Where to store the devices </span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">In webbing </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Away from direct sunlight</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Away from water </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Away from items that may hurt the device e.g. Food</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ensure that the device is either kept upright</span></li>
</ul>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Treat the CMAPS unit with care and caution, as you would with your own phone. As it costs over $300.</span></li>
</ul>
<p><span style="font-weight: 400;">Acquiring a signal</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Turn on the device and hold the outer button. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The LCD should glow and display 1 of the following 3 items:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">displaying latitude and longitude coordinates, </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">displaying no lock </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">and/or not displaying anything or stange text. </span></li>
</ul>
</ul>
<p><span style="font-weight: 400;">If the device displays coordinates then it is successful!</span></p>
<p><span style="font-weight: 400;">If the device does not display coordinates then follow the following procedure. </span></p>
<p><span style="font-weight: 400;">Acquiring A Signal &ldquo;No Lock&rdquo;</span></p>
<p><span style="font-weight: 400;">If the device displays &ldquo;No Lock&rdquo; follow the following steps</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">The antenna is plugged in and facing the sky</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">You have a clear line of sight with the sky</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The device is turned on</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Try resetting the unit</span></li>
</ul>
<p><span style="font-weight: 400;">Acquiring a Signal (No Text/ Strange Text)</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If no text or strange text is being displayed then:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Unplug and replug the arduino</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Press the small button on the corner of the arduino</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reset the device</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the problem still persists, it is most likely a code issue so a new unit should be requeste</span></li>
</ul>
<p><span style="font-weight: 400;">Acquiring a signal (Can&rsquo;t acquire a signal)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the CMAPS device is unable to acquire a signal, refer to the CMAPS </span><span style="font-weight: 400;">troubleshooting guide.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If acquiring a signal take an extended period of time (e.g. 10 minutes), open the case and search for the blinking blue light.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the light is blinking at a fast pace (few times a second) it has a lock/is acquiring a lock. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If it is blinking but not displaying a set of coordinates on the LCD screen, reset the device. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the light is blinking slowly try the troubleshooting methods.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">NOTE: The area around &Oslash;B has bad reception, therefore your CMAPS unit may not connect as easily, still however go through the troubleshooting guide.</span></li>
</ul>


</div>



<div style="margin-bottom: 80px;"></div>
</body>
</html>
