<link rel="stylesheet" href="/styles/main.css">
<script src="/js_files/jquery-3.1.1.js"></script>
<script type="text/javascript">  
  $(document).ready(function () {

      $("#btnDuty").click(function () {
                var duty = prompt("Enter the name of the new duty officer", "{{settings['Duty']}}");
                if (duty == null || duty == "") {
                }
                else {
                    $.post('/settings/Duty/', { name: duty }, function(data, status){
                    $('#duty_officer').html(duty);
                });
                }
            });


     $("#btnCallsign").click(function () {
                var cs = prompt("Enter your Callsign", "{{settings['callsign']}}");
                if (cs == null || cs == "") {
                }
                else {
                    $.post('/settings/callsign/', { name: cs }, function(data, status){
                });
                $('#callsign').html(cs);
                }
            });

    $("#btnNet").click(function () {
        var net = prompt("Enter your current Net", "{{settings['net']}}");
        if (net == null || net == "") {
        }
        else {
            $.post('/settings/net/', { name: net }, function(data, status){
        });
        $('#net_name').html(net);
        }
    });
  });
</script>
<table class='general'>
    <tr>
        <td class="settings top left" align="right">
            <button type="button" id="btnCallsign">This Callsign</button>
        </td>
        <td id="callsign" class="settings top right" align="right">{{settings['callsign']}}</td>
    </tr>
    <tr>
        <td class="settings  left" align="right">
            <button type="button" id="btnDuty">Duty Officer</button>
        </td>
        <td id="duty_officer" class="settings  right" align="right">{{settings['Duty']}}</td>
    </tr>
    <tr>
        <td class="settings bottom left" align="right">
                <button type="button" id="btnNet">This Net</button>
        </td>
        <td id="net_name" class="settings bottom right" align="right">{{settings['net']}}</td>
    </tr>
    <tr>
        <td colspan="2"><a class="topa" href="javascript:alert('not implemented yet')">Download Log</a></td>
    </tr>
</table>