<link rel="stylesheet" href="/styles/main.css" xmlns="http://www.w3.org/1999/html">
<script src="/js_files/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
/*
        $("#btnDuty").click(function () {
            var duty = prompt("Enter the name of the new duty officer", "{{settings['Duty']}}");
            if (duty == null || duty == "") {
            }
            else {
                $.post('/settings/Duty/', {name: duty}, function (data, status) {
                    $('#duty_officer').html(duty);
                });
            }
        });


        $("#btnCallsign").click(function () {
            var cs = prompt("Enter your Callsign", "{{settings['callsign']}}");
            if (cs == null || cs == "") {
            }
            else {
                $.post('/settings/callsign/', {name: cs}, function (data, status) {
                });
                $('#callsign').html(cs);
            }
        });

        $("#btnNet").click(function () {
            var net = prompt("Enter your current Net", "{{settings['net']}}");
            if (net == null || net == "") {
            }
            else {
                $.post('/settings/net/', {name: net}, function (data, status) {
                });
                $('#net_name').html(net);
            }
        });
        */
        $('#settings_save').click(function() {
            var table = $('.general');
            var arr = {};
            table.find(".current_details").each(function(index,val){
                var type = $(this).attr('input');
                var data = $(this).val();
                arr[type] = data
            });
            $.post('/settings/update/', arr, function (data, status) {
            });


        });

        // A post is used to prevent someone randomly visiting the url
        $("#delete_log").click(function(){$.post('/settings/action/', {action:"delete_log"}, function () {})});


    });
</script>
<div class="inner">
    <table class='general'>
        <tr>
            <td colspan="2"><h3>Current Details</h3></td>
        </tr>

        <tr>
            <td id="callsign"><b>Callsign</b></td>
            <td align="right">
                <input id="csIpnut" input="callsign" class="current_details" type="text" value="{{ settings['callsign'] }}"/>
            </td>
        </tr>
        <tr>
            <td id="callsign"><b>Duty Officer</b></td>
            <td align="right">
                <input id="csIpnut" input="Duty" class="current_details" type="text" value="{{ settings['Duty'] }}"/>
            </td>
            </tr>
        <tr>
            <td id="callsign"><b>Net</b></td>
            <td align="right">
                <input id="csIpnut" input="net" class="current_details" type="text" value="{{ settings['net'] }}"/>
            </td>
        </tr>
        <tr>
            <td><button class="btnSmall" id="settings_save">Save</button></td>
        </tr>
        <tr>
            <td colspan="2"><h3>Log Settings</h3></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/settings/download_log"><button class="btnLge" >Download Log</button></a></td>
        </tr>
        <tr>
            <td colspan="2"><button id="delete_log" class="btnLge">Delete Log</button></td>
        </tr>
        <tr>
            <td colspan="2">
                <form id="log_upload_form" method="post" action="/settings/log_upload" enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                    <button id="log_upload" type="submit">Upload Log</button>
              </form>
                <!--<button class="btnLge" >Upload Log</button></td>-->
        </tr>
    </table>
</div>