

/* Create two columns/boxes that floats next to each other */
#test nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
#test nav ul {
    list-style-type: none;
    padding: 0;
}

#test article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
#test:after {
    content: "";
    display: table;
    clear: both;
}
#mainNav{
    width:100%;

}