{% extends '/includes/RAPlayout.html' %} {% block body %}
    <div class="main">
        <div class="banner">
            <a>Active/Ongoing Notifications</a>
        </div>
        <p>Notifications from the 'Incoming' tab that are in the process of being resolved will appear here. For
        example, a CASEVAC arrives - a vehicle is sent out to a location, and the patient has not yet returned. While
        the incident is still being 'resolved', it will remain here.</p>
        <script type="text/javascript" src="/js_files/autosave.js"></script>
        <script type="text/javascript" src="/js_files/jquery-3.1.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                AutoSave.start();
            })
            $(window).unload(function () {
                AutoSave.stop();
            });
        </script>
        <span id="msg"></span>
    </div>
{% endblock %}