flask >= 0.12.3
Jinja2 >= 2.8
MarkupSafe >= 0.23
Werkzeug >= 0.11.11
argparse >= 1.2.1
click >= 6.6
itsdangerous >= 0.24
# wsgiref>=0.1.2
# quart >= 0.6.6
# tox >= 3.2.1
pip >= 18.0
# python3.7.0
flask-compress >= 1.4.0
Flask-Static-Compress >= 1.0.2
jsmin >= 2.2.2