{% extends 'returns/return.html' %} {% block table %}
    <h2 id="return_type">{{ return_type }}</h2>

    <table class='return_table'>
        <tr class="head">
            <td class='serial'>Serial</td>
            <td class="value">Value</td>
            <td class='serialDes'>Description</td>
        </tr>
        {% for serial, info in serials_def[return_type].items() %}
            <tr class="data_row">
                <td class='serial'>{{ serial }}</td>
                <td>
                    {% if info['data_type'] == 'short' %}
                        <input class="itext data" name="{{ serial }}" type="text" autocomplete="off"/>
                    {% elif info['data_type'] == 'choice' %}
                        <div id="{{ serial }}">
                            {% for option in info['options'] %}
                                <label class="lblRadio" id="{{ option }}">
                                    <input class="itext data" id="{{ option }}Radio" name="{{ serial }}"
                                           value="{{ option }}" type="radio">{{ option }}</input>
                                </label>
                            {% endfor %}
                            <label><input class="last data" type="radio" hidden="hidden"></input></label>
                        </div>
                    {% elif info['data_type'] == 'long' %}
                        <textarea class="itext return data" name="{{ serial }}" rows="4"
                                  cols="40"></textarea> {% elif info['data_type'] == 'location' %}
                        <input class="itext data" name="{{ serial }}" type="text" id="" list="locs" autocomplete="off"/>
                        <datalist id="locs">
                            <option selected disabled>Choose</option>
                            {% for location in locs %}
                                <option value="{{ location }}">{{ location }}</option>
                            {% endfor %}
                        </datalist>
                    {% endif %}
                </td>
                <td class='serialDes'>{{ info['desc'] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}