body {
    font-family: Helvetica, sans-serif;
    background: #333;
}

footer {
    text-align: center;
    margin-top: 8em;
}

footer a {
    color: #aaa;
    font-size: 32px;
}

.container {
    padding-top: 10em;
}

.controls {
    text-align: center;
    padding-bottom: 1em;
}

table.minesweeper {
    margin: auto;
    border: 1px solid #999;
    border-collapse: collapse;
    background-color: #ddd;
}

table.minesweeper td {
    width: 24px;
    height: 24px;
    background-size: cover;
}

td.unopened {
    background: url('minesweepImages/unopened.svg');
    cursor: pointer;
}

td.opened {
    background: url('minesweepImages/opened.svg');
}

td.flagged {
    background: url('minesweepImages/flag.svg');
    cursor: pointer;
}

td.mine {
    background: url('minesweepImages/mine.png');
}

td.mine-neighbour-1 {
    background: url('minesweepImages/1.svg');
}

td.mine-neighbour-2 {
    background: url('minesweepImages/2.svg');
}

td.mine-neighbour-3 {
    background: url('minesweepImages/3.svg');
}

td.mine-neighbour-4 {
    background: url('minesweepImages/4.svg');
}

td.mine-neighbour-5 {
    background: url('minesweepImages/5.svg');
}

td.mine-neighbour-6 {
    background: url('minesweepImages/6.svg');
}

td.mine-neighbour-7 {
    background: url('minesweepImages/7.svg');
}

td.mine-neighbour-8 {
    background: url('minesweepImages/8.svg');
}