<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask CP</title>
    <link rel="stylesheet" href="/styles/main.min.css">
    <script src="js_files/jquery-3.1.1.js"></script>

    <script id="Cookie Functions" type="text/javascript">

        function setCookie(name, value) {
            var expires = "";
            var expiration_date = new Date();
            var date = new Date();
            date.setFullYear(expiration_date.getFullYear() + 3);
            expires = "; expires=" + date.toUTCString();
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }

        /*
        setCookie('name','value');

        var x = getCookie('name');
        if (x) {
            [do something with x]
        }
         */

    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            function setNet() {
                var net = getCookie('net');
                if (net) {
                    $('#net_name').html(net);
                }
                else {
                    $('#net_name').html("{{ settings['net'] }}");
                }
            }

            setNet();

            $(".toButton").click(function () {
                $("#inputTo").val(this.innerHTML);
            });
            $(".fromButton").click(function () {
                $("#inputFrom").val(this.innerHTML);
            });
            $("#btnDuty").click(function () {
                var currentDuty = $('#duty_officer').html()
                var duty = prompt("Enter the name of the new duty officer", currentDuty);
                if (duty == null || duty == "") {
                }
                else {
                    $.post('/settings/update/', {Duty: duty}, function (data, status) {
                        $('#duty_officer').html(duty);
                    });
                }
            });
            $("#btnCallsign").click(function () {
                var currentCS = $("#callsign").html();
                var cs = prompt("Enter your Callsign", currentCS);
                if (cs == null || cs == "") {
                }
                else {
                    $.post('/settings/update/', {callsign: cs}, function (data, status) {
                    });
                    $('#callsign').html(cs);
                    
                    $("#fromThis").html(cs);
                    $("#toThis").html(cs);
                }
            });
            $("#btnNet").click(function () {
                var net = prompt("Enter your current Net", $('#net_name').html());
                if (net == null || net == "") {
                }
                else {
                    setCookie('net', net);
                    $('#net_name').html(net);
                }
            });
            $('#record').click(function () {
                var exit = false;
                var arr = {};
                var table = $(".return_table");
                var box_checked = false;
                if ($('#return_type').html() === 'MESSAGE') {
                    arr['msg'] = document.getElementById('textInput').value
                }
                else {
                    var validated = false;
                    var loop = table.find('.data').each(function test(index, element) {
                        type = $(this).attr('type');
                        if (type != 'radio') {
                            var serial = $(this).attr('name');
                            var data = $(this).val();
                            if (data == "" && validated == false) {
                                var missing = confirm("You are missing a serial. Would you like to continue?");
                                if (missing == true) {
                                    validated = true
                                }
                                else {
                                    exit = true;
                                    validated = true;
                                    return;
                                }
                            }
                            arr[serial] = data;
                        }
                        else {
                            var radio_class = $(this).attr('class');
                            var last = radio_class.includes('last');
                            if (last == true) {
                                if (box_checked == false && validated == false) {
                                    var missing = confirm("You are missing a serial. Would you like to continue?");
                                    if (missing == true) {
                                        validated = true
                                    }
                                    else {
                                        exit = true;
                                        validated = true;
                                        return;
                                    }
                                }
                                else {
                                    box_checked = false;
                                }
                            }
                            else {
                                if ($(this).is(':checked')) {
                                    var serial = $(this).attr('name');
                                    var data = $(this).val();
                                    arr[serial] = data;
                                    box_checked = true
                                }
                            }
                        }
                    });
                }
                ;

                if (exit == true) {
                    return;
                    exit = false;
                }
                // alert();
                var to = $('#inputTo').val();
                var from = $('#inputFrom').val();
                if (to == null || to == "") {
                    alert("Please enter a value for the To field");
                    return;
                }
                if (from == null || from == "") {
                    alert("Please enter a value for the From field");
                    return;
                }

                $.extend(arr, {return_type: $('#return_type').html()});
                $.extend(arr, {cs: document.getElementById('callsign').textContent});
                $.extend(arr, {duty: document.getElementById('duty_officer').textContent});
                $.extend(arr, {net: document.getElementById('net_name').textContent});
                $.extend(arr, {receiver: document.getElementById('inputTo').value});
                $.extend(arr, {sender: document.getElementById('inputFrom').value});
                var checked = document.getElementById("check").checked;

                $.post("/transmission/" + $('#return_type').html(), arr, function (data, status) {
                    document.getElementById('printf').contentDocument.body.innerHTML = data;
                    if (checked) {
                        //document.getElementById('printf').style.visibility = 'visible';
                        window.frames["printf"].focus();
                        window.frames["printf"].print();
                        //document.getElementById('printf').style.visibility = 'hidden';
                    }

                });
                //NOTIFICATION
                var return_type = $('#return_type').html()
                $("#popup").html(return_type + ' Submitted');
                $("#popup").show();
                $("#popup").animate({
                    right: '30px',
                });
                setTimeout(function () {
                    $("#popup").fadeOut(500)
                    setTimeout(function () {
                        $("#popup").css('right', '-200px')
                    }, 500);
                }, 3000);
                document.getElementById("main_form").reset()
            });
        });
    </script>

</head>

<body>
{% if ret %}
    <div class="banner" id="transmission">
        <a>Record Transmission</a>
    </div>
    <div class="inner_return">
    <table class="toFrom">
        <tr>
            <td class="serial">To:</td>
            <td class="toFromStandard">
                <input id="inputTo" name="receiver" class="itext" type="text" list="callsigns" autocomplete="off"/>
                <datalist id="callsigns">
                    {% for callsign in callsigns %}
                        <option value="{{ callsign }}">{{ callsign }}</option>
                    {% endfor %}
                </datalist>
            </td>
            <td class="toFromStandard">
                <button type="button" id="toThis" class='senderButton toButton'>{{ settings['callsign'] }}</button>
            </td>
            <td class="toFromStandard">
                <button type="button" class="toButton">KGS</button>
            </td>
            <td></td>


        </tr>
        <tr>
            <td class="serial">From:</td>
            <td class="toFromStandard">
                <input name="sender" id="inputFrom" class="itext" type="text" list="callsigns" autocomplete="off"/>
            </td>
            <td class="toFromStandard" colspan="2">
                <button type="button" id="fromThis" class="senderButton fromButton">{{ settings['callsign'] }}</button>
            </td>
            <td></td>

        </tr>
    </table>

    <table class="transmission_settings">
        <tr>
            <td class="settings top left" align="right">
                <button type="button" id="btnCallsign">This Callsign</button>
            </td>
            <td id="callsign" class="settings top right" align="right">{{ settings['callsign'] }}</td>
        </tr>
        <tr>
            <td class="settings  left" align="right">
                <button type="button" id="btnDuty">Duty Officer</button>
            </td>
            <td id="duty_officer" class="settings  right" align="right">{{ settings['Duty'] }}</td>
        </tr>
        <tr>
            <td class="settings bottom left" align="right">
                <button type="button" id="btnNet">This Net</button>
            </td>
            <td id="net_name" class="settings bottom right" align="right"></td>
        </tr>
    </table>

    <input type="hidden" name="Duty" value="{{ settings['Duty'] }}"/>
{% else %}

    <div class="banner" id="transmission">
        <a>Record Transmission</a>
    </div>
    <div class="inner_return">
    {% if return_type %}
        <form method="POST" id="main_form" action="/transmission/old/{{ return_type }}">
    {% else %}
        <form method="POST" id="main_form" action="/transmission/MESSAGE">
    {% endif %}
    <table class="toFrom">
            <tr>
                <td class="serial">To:</td>
                <td class="toFromStandard">
                    <input id="inputTo" name="receiver" class="itext" type="text" list="callsigns" autocomplete="off"/>
                    <datalist id="callsigns">
                        {% for callsign in callsigns %}
                            <option value="{{ callsign }}">{{ callsign }}</option>
                        {% endfor %}
                    </datalist>
                </td>
                <td class="toFromStandard">
                    <button type="button" id="toThis" class='senderButton toButton'>{{ settings['callsign'] }}</button>
                </td>
                <td class="toFromStandard">
                    <button type="button" class="toButton">KGS</button>
                </td>
                <td></td>
    
    
            </tr>
            <tr>
                <td class="serial">From:</td>
                <td class="toFromStandard">
                    <input name="sender" id="inputFrom" class="itext" type="text" list="callsigns" autocomplete="off"/>
                </td>
                <td class="toFromStandard" colspan="2">
                    <button type="button" id="fromThis" class="senderButton fromButton">{{ settings['callsign'] }}</button>
                </td>
                <td></td>
    
            </tr>
        </table>

    <table class="transmission_settings">
        <tr>
            <td class="settings top left" align="right">
                <button type="button" id="btnCallsign">This Callsign</button>
            </td>
            <td id="callsign" class="settings top right" align="right">{{ settings['callsign'] }}</td>
        </tr>
        <tr>
            <td class="settings  left" align="right">
                <button type="button" id="btnDuty">Duty Officer</button>
            </td>
            <td id="duty_officer" class="settings  right" align="right">{{ settings['Duty'] }}</td>
        </tr>
        <tr>
            <td class="settings bottom left" align="right">
                <button type="button" id="btnNet">This Net</button>
            </td>
            <td id="net_name" class="settings bottom right" align="right"></td>
        </tr>
    </table>

    <input type="hidden" name="Duty" value="{{ settings['Duty'] }}"/>

{% endif %}

{% block table %} {% endblock %}

<footer>
    <table class="footTable">
        <tr class=submit>
            <td>
                <label class=checkbox>
                    <input type="checkbox" id="check" name="check"> Print</label>
            </td>
            <td>
                <button type="button" id="record" class="button">Record</button>
            </td>
            <td>
                <button type="reset" id="cancel">Cancel</button>
            </td>
        </tr>

    </table>
</footer>
</form>
<iframe src="javascript:void(0);" id="printf" name="printf" scrolling="yes"
        style="width:100%; visibility: hidden;"></iframe>
</div>
<div id="popup">Notification</div>
</body>

</html>