<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="/js_files/jquery-3.1.1.js"></script>
</head>

<div class="topnav">
    <a class="kgs">
        <!--<img id="navImage" src="logo-mono.png">-->KGSACU Command Post</a>
    <a class="topa" href="/transmission">Record Transmission</a>
    <a class="topa" href="/log">Log</a>
    <a class="topa" href="/notes">Notes</a>
    <a class="topa" href="/settings">Settings</a>
    <a class="topa" href="/instructions">Instructions</a>
</div>