<div class=banner>
    <a>Edit Return</a>
</div>
<div class="serial_body">
    <p>Use this page to edit the Admin Returns and Serials that will be used for the Record Transmission feature. This
        should be done upon updates of the Signalling Operation Instruction.</p>
    <p>Use the pane on the left to add, remove or rename Admin Returns. Then select "Edit Serials" in order to change
        serials. A table will appear in place of this window.</p>
    <p>Use the "Add Serial" Button to create rows in the table and then edit them with the Serial, the Description, the
        Data Type (see below) and Options (see below).</p>
    <p>There are 4 Data Types:</p>
    <table>
        <tr>
            <td class="bold">short</td>
            <td><input class="itext" type="text" autocomplete="off"/></td>
        </tr>
        <tr>
            <td class="bold">long</td>
            <td><textarea class="itext return" rows="4" cols="40"></textarea></td>
        </tr>
        <tr>
            <td class="bold">locs</td>
            <td><input class="itext" type="text" list="locs" autocomplete="off"/>
                <datalist id="locs">
                    {% for location in locs %}
                        <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </datalist>
            </td>
        </tr>
        <tr>
            <td class="bold">choice</td>
            <td><input class="itext" value="option" name="radio_test" type="radio">option1</input><input class="itext"
                                                                                                         value="option2"
                                                                                                         name="radio_test"
                                                                                                         type="radio">option2</input>
            </td>
        </tr>
    </table>

    <p>For the choice data type, use the option column to declare the options, seperated by a comma and space.</p>
    <p>When you have finished editing something, make sure to click save.</p>
    <p><b>This will synchronize across the server, so must only be changed on one laptop.</b></p>

</div>
{% block body %}
{% endblock %}