<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask CP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="js_files/jquery-1.12.0.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function () {
            /*
           function post(path, params, method) {
                method = method || "POST"; // Set method to post by default if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);


                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        // make fields
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);
                        form.appendChild(hiddenField);

                        var hiddenField2 = document.createElement("input");
                        hiddenField2.setAttribute("type", "hidden");
                        hiddenField2.setAttribute("name", "page");
                        hiddenField2.setAttribute("value", window.location.pathname);


                        form.appendChild(hiddenField2);

                    }
                }

                document.body.appendChild(form);
                form.submit();
            }
            */
            $(".toButton").click(function () {
                $("#inputTo").val(this.innerHTML);
            });
            $(".fromButton").click(function () {
                $("#inputFrom").val(this.innerHTML);
            });

            //$(".netButton").click(function () {
            //    $("#inputNet").val(this.innerHTML);
            //});

            $("#btnDuty").click(function () {
                var duty = prompt("Enter the name of the new duty officer", "{{settings['Duty']}}");
                if (duty == null || duty == "") {
                }
                else {
                    $.post('/settings/Duty/', { name: duty }, function(data, status){
                    //alert("Data: " + data + "\nStatus: " + status);
                    // document.getElementById("duty_officer").innerHTML(duty)
                    $('#duty_officer').html(duty);
                });
                }
            });

            $("#btnCallsign").click(function () {
                var cs = prompt("Enter your Callsign", "{{settings['callsign']}}");
                if (cs == null || cs == "") {
                }
                else {
                    $.post('/settings/callsign/', { name: cs }, function(data, status){
                //alert("Data: " + data + "\nStatus: " + status);
                });
                $('#callsign').html(cs);
                }
            });

            $("#btnNet").click(function () {
                var net = prompt("Enter your current Net", "{{settings['net']}}");
                if (net == null || net == "") {
                }
                else {
                    $.post('/settings/net/', { name: net }, function(data, status){
                //alert("Data: " + data + "\nStatus: " + status);
                });
                $('#net_name').html(net);
                }
            });

            $(".lblRadio").click(function () {
                var radio = (this.id);
                (radio + "Radio").click()
            });
            
            /*$("#record").click(function () {
                var checkbox = document.getElementById("printCheck")
                if (checkbox.checked == true){
                    window.frames["printf"].focus();
                    window.frames["printf"].print();
                    alert("memes")
                }
                else{
                }

            });*/

            /*$("#main_form").submit(function(e) {
                e.preventDefault();
                this.submit();
                setTimeout(function(){
                    var checkbox = document.getElementById("check")
                    if (checkbox.checked == true){
                        window.frames["printf"].focus();
                        window.frames["printf"].print();
                        alert("memes");
                    }
                    else{
                    }
                 }, 100);
               
            });*/
            
            $('#record').click(function(){
                var arr = {}
                var table = $(".return_table")
                table.find('.data').each(function (index, element){
                    type = $(this).attr('type');
                    if (type != 'radio') {
                        var serial = $(this).attr('name');
                        var data = $(this).val();
                        arr[serial] = data;
                    }
                    else {
                        if ($(this).is(':checked')) {
                            var serial = $(this).attr('name');
                            var data = $(this).val();
                            arr[serial] = data;
                        }
                        else {
                        }
                    }
                });

                var to = $('#inputTo').val()
                var from = $('#inputFrom').val()
                $.extend(arr, {return_type:"{{return_type}}"});
                $.extend(arr, {cs:"{{settings['callsign']}}"});
                $.extend(arr, {duty:"{{settings['Duty']}}"});
                $.extend(arr, {receiver:to});
                $.extend(arr, {sender:from});
                
                // alert(JSON.stringify(arr))
                $.post("/transmission/{{return_type}}", arr, function(data, status){
                        $("#popup").html('{{return_type}} Submitted');
                        $("#popup").show()
                        $("#popup").animate({
                            right: '40px',
                        });
                        setTimeout(function() {
                            $("#popup").fadeOut(500)
                            }, 3000);
                        
				});
                document.getElementById("main_form").reset()
            });
        });
    </script>

</head>

<body>
    {% if ret %}
    <div class="banner" id="transmission">
        <a>Record Transmission</a>
    </div>
        {% if return_type %}
    <!--<form method="POST" id="main_form" action="/transmission/{{return_type}}"> -->
        {%else%}
    <!--<form method="POST" id="main_form" action="/transmission/MESSAGE"> -->
        {%endif%}
        <table class="toFrom">
                <tr>
                    <td class="serial">To:</td>
                    <td class="toFromStandard">
                        <input id="inputTo" name="receiver" class="itext" type="text" list="callsigns" autocomplete="off"/>
                            <datalist id="callsigns">
                                {% for callsigns in callsigns %}
                                <option value="{{callsigns}}">{{callsigns}}</option>
                                {% endfor %}
                            </datalist>
                    </td>
                    <td class="toFromStandard">
                        <button type="button" class="toButton">{{settings['callsign']}}</button>
                    </td>
                    <td class="toFromStandard">
                        <button type="button" class="toButton">KGS</button>
                    </td>
                    <td></td>
                    
    
                </tr>
                <tr>
                    <td class="serial">From:</td>
                    <td class="toFromStandard">
                        <input name="sender" id="inputFrom" class="itext" type="text" list="callsigns" autocomplete="off"/>
                    </td>
                    <td class="toFromStandard" colspan="2">
                        <button type="button" class="fromButton">{{settings['callsign']}}</button>
                    </td>
                    <td></td>
                    
                </tr>
            </table>
    
            <table class="transmission_settings">
                <tr>
                    <td class="settings top left" align="right">
                        <button type="button" id="btnCallsign">This Callsign</button>
                    </td>
                    <td id="callsign" class="settings top right" align="right">{{settings['callsign']}}</td>
                </tr>
                <tr>
                    <td class="settings  left" align="right">
                        <button type="button" id="btnDuty">Duty Officer</button>
                    </td>
                    <td id="duty_officer" class="settings  right" align="right">{{settings['Duty']}}</td>
                </tr>
                <tr>
                    <td class="settings bottom left" align="right">
                            <button type="button" id="btnNet">This Net</button>
                    </td>
                    <td id="net_name" class="settings bottom right" align="right">{{settings['net']}}</td>
                </tr>
            </table>
    
            <input type="hidden" name="Duty" value="{{settings['Duty']}}"/>
    {% else %}

    <div class="banner" id="transmission">
        <a>Record Transmission</a>
    </div>
    {% if return_type %}
    <form method="POST" id="main_form" action="/transmission/old/{{return_type}}">
    {%else%}
     <!--<form method="POST" id="main_form" action="/transmission/MESSAGE"> -->
    {%endif%}
        <table class="toFrom">
            <tr>
                <td class="serial">To:</td>
                <td class="toFromStandard">
                    <input id="inputTo" name="receiver" class="itext" type="text" list="callsigns" autocomplete="off"/>
                        <datalist id="callsigns">
                            {% for callsigns in callsigns %}
                            <option value="{{callsigns}}">{{callsigns}}</option>
                            {% endfor %}
                        </datalist>
                </td>
                <td class="toFromStandard">
                    <button type="button" class="toButton">{{settings['callsign']}}</button>
                </td>
                <td class="toFromStandard">
                    <button type="button" class="toButton">KGS</button>
                </td>
                <td></td>
                

            </tr>
            <tr>
                <td class="serial">From:</td>
                <td class="toFromStandard">
                    <input name="sender" id="inputFrom" class="itext" type="text" list="callsigns" autocomplete="off"/>
                </td>
                <td class="toFromStandard" colspan="2">
                    <button type="button" class="fromButton">{{settings['callsign']}}</button>
                </td>
                <td></td>
                
            </tr>
        </table>

        <table class="transmission_settings">
            <tr>
                <td class="settings top left" align="right">
                    <button type="button" id="btnCallsign">This Callsign</button>
                </td>
                <td id="callsign" class="settings top right" align="right">{{settings['callsign']}}</td>
            </tr>
            <tr>
                <td class="settings  left" align="right">
                    <button type="button" id="btnDuty">Duty Officer</button>
                </td>
                <td id="duty_officer" class="settings  right" align="right">{{settings['Duty']}}</td>
            </tr>
            <tr>
                <td class="settings bottom left" align="right">
                        <button type="button" id="btnNet">This Net</button>
                </td>
                <td id="net_name" class="settings bottom right" align="right">{{settings['net']}}</td>
            </tr>
        </table>

        <input type="hidden" name="Duty" value="{{settings['Duty']}}"/>

        {%endif%}

        {% block table %} {% endblock %}

        <footer>
            <table class="footTable">
                <tr class=submit>
                    <td>
                        <label class=checkbox>
                            <input type="checkbox" id="check" name="check"> Print</label>
                    </td>
                    <td>
                        <button type="button" id="record" class="button">Record</button>
                    </td>
                    <td>
                        <button type="reset" id="cancel">Cancel</button>
                    </td>
                </tr>

            </table>
        </footer>
    </form>
    <iframe src="/log/0" name="printf" scrolling="yes"  hidden="true" style="width:100%;"></iframe>
    <div id="popup">MEMEMEMS</div>
</body>

</html>