<h2>{{return_type}}</h2>
<table>
    <tr>
        <td class='serial' style="padding-right: 20px">Serial</td>
        <td style="padding-right: 125px">Value</td>
        <td class='serial Des'>Description</td>
    </tr>
    {% for serial, info in serials_def[return_type].items() %}
    <tr>
        <td class='serial'>{{serial}}</td>
        <td>
            {% if info['data_type'] == 'string' %}
            <input class="itext" name="{{serial}}" type="text" id="A" /> {% elif info['data_type'] == ''} {% endif %}
        </td>
        <td class='serial Des'>{{info['desc']}}</td>
    </tr>
    {% endfor %}
</table>