<link rel="stylesheet" href="/styles/main.css" xmlns="http://www.w3.org/1999/html">
<script src="/js_files/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grconvert').click(function(){
            var coordinates = {}
            coordinates["lat"] = $("#latinput").val();
            coordinates["long"] = $("#longinput").val();
            alert(JSON.stringify(coordinates))
        })
    });
</script>
<div class="inner">
    <p>Use this tool to convert between the Military Grid Reference System used by the KGSACU and Coordinates as measured by CMAPS.</p>
    <table class='general'>
        <tr>
            <td>Lattitude</td>
            <td>
                <input id="latinput" type="text" />
            </td>
            <td>Longitude</td>
            <td>
                <input id=longinput type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="4"><button id="grconvert">Convert to GR</button></td>
        </tr>
        <tr>
            <td>Prefix</td>
            <td>
                <input type="text" />
            </td>
            <td>GR</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="4"><button>Convert to Coordinates</button></td>
        </tr>   
    </table>
    <br>
    <table>
        <tr><td><b>Result</b></td></tr>
        <tr>
            <td><b>Position:</b></td>
            <td>input</td>
        </tr>
        <tr>
            <td><b>mgrs/ll:</b></td>
            <td>input</td>
        </tr>
    </table>
</div>