{% extends '/includes/layout.html' %} {% block body %}
    <script type="text/javascript" src="/js_files/egg.js"></script>
    <script src="/js_files/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#general').click(function () {
                $.ajax({
                    url: "/settings/general",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
                $('#current').html("General");
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                $(this).attr("class", "selected");

                function abbox(){$.ajax({url: "/games/tetris",type: "get",success: function (response) {$("#settings_display").html(response);}})}
            });
            $('#general').click();
            $('#edit_locs').click(function () {
                $.ajax({
                    url: "/settings/locs",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
                $('#current').html("Locations");
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                $(this).attr("class", "selected");
            });
            $('#edit_callsigns').click(function () {
                $.ajax({
                    url: "/settings/callsigns",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
                $('#current').html("Callsigns");
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                $(this).attr("class", "selected");
            });
            $('#edit_return').click(function () {
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                window.location = "/edit_return"
            });
            $('#product').click(function () {
                $.ajax({
                    url: "/settings/info",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
                $('#current').html("Software Info");
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                $(this).attr("class", "selected");

            });
            $('#site_map').click(function () {
                $.ajax({
                    url: "/settings/sitemap",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                    error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
                $('#current').html("Site Map");
                $('button').each(function (index, element) {
                    $(element).attr("class", "off");
                });
                $(this).attr("class", "selected");

            });


            var tetris = new Egg("t,e,t,r,i,s", function () {
                var d = new Date();
                var time = d.getHours();
                if (time >= 22 || time < 6) {
                    $.ajax({
                    url: "/games/tetris",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                 });
                }
                else {
                    $("#popup").html('As you were!');
                    $("#popup").show();
                    $("#popup").animate({
                        right: '30px',
                    });
                    setTimeout(function () {
                        $("#popup").fadeOut(500)
                        setTimeout(function () {
                            $("#popup").css('right', '-200px')
                        }, 500);
                    }, 3000);
                }
                
            }).listen();

            var minesweeper = new Egg("m,i,n,e,s,w,e,e,p,e,r", function () {
                $.ajax({
                    url: "/games/minesweeper",
                    type: "get",
                    success: function (response) {
                        $("#settings_display").html(response);
                    },
                     error: function (xhr) {
                        $("#settings_display").html("A ERROR HAS OCCURRED");
                        //Do Something to handle error
                    }
                });
            }).listen();

        });
    </script>

    <div class="scrollmenu">
        <nav>
            <ul>
                <li>
                    <a>Settings</a>
                </li>
                <li>
                    <button class="setting_button" id="general">General</button>
                </li>
                <li>
                    <button class="setting_button" id="edit_return">Edit Return Serials</button>
                </li>
                <li>
                    <button class="setting_button" id="edit_locs">Edit Locations</button>
                </li>
                <li>
                    <button class="setting_button" id="edit_callsigns">Edit Callsigns</button>
                </li>
                <li>
                    <button class="setting_button" id="product">Software Info</button>
                </li>
                <li>
                    <button class="setting_button" id="site_map">Site Map</button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="divRight">
        <div class="banner">
            <a id="current">Product Details</a>
            <div id="popup">Notification</div>
        </div>
        <div id="settings_display">

        </div>
    </div>

    </div>


{% endblock %}