<!DOCTYPE HTML>
<html style="overflow: scroll!important;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KGSACU CP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/js_files/jquery-3.1.1.js"></script>

</head>

<body>
<div class="printBody">
    {% if ret %}
        {% for name, val in ret.items() %}
            {% if name == 'name' %}
                <h2>{{ val }}</h2>
            {% endif %}
        {% endfor %}
        <table class="printTable">
            {% for name, val in ret.items() %}
                {% if name == 'net' %}
                    <tr>
                        <td class="head_column">Net:</td>
                        <td>{{ val }}</td>
                    </tr>
                {% elif name == 'sender' %}
                    <tr>
                        <td class="head_column">From:</td>
                        <td>{{ val }}</td>
                    </tr>
                {% elif name == 'time' %}
                    <tr>
                        <td class="head_column">Time Sent:</td>
                        <td>{{ val }}</td>
                    </tr>
                {% elif name == 'receiver' %}
                    <tr>
                        <td class="head_column">To:</td>
                        <td>{{ val }}</td>
                    </tr>
                {% elif name == 'duty' %}
                    <tr>
                        <td class="head_column">Duty Officer:</td>
                        <td>{{ val }}</td>
                    </tr>
                {% elif name == 'logID' %}
                    <tr>
                        <td class="head_column">LOGID:</td>
                        <td><span id="logID_text">{{ val }}</span></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table>
        {% for name, rtrn in ret.items() %}
            <tr>
                {% if name == 'msg' %}
                    <td class="textp">Message:</td>
                    <td class="textp">
                        {% for val in rtrn.split('<br>') %}
                            {{ val }}<br>
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        {% for name, rtrn in ret.items() %}
            <tr>
                {% if name != 'name' and name != 'sender' and name != 'receiver' and name != 'duty' and name != 'time' and name != 'msg' and name!= 'logID' and name != 'net' %}
                    <td class="textp">{{ name }}:</td>
                    <td class="textp">
                        {% set rtrn = rtrn|string %}
                        {% for val in rtrn.split('<br>') %}
                            {{ val }}<br>
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% elif log %}
        <p>{{ log }}</p>
        <p>Log</p>
    {% else %}
        <p>ERROR</p>
    {% endif %}
    </table>
</div>

</body>

</html>