{% extends 'layout.html' %} {% block body %}
<p>
    <table>
        {% for return_type in serials_def %}
        <tr>
            <td>
                <b>{{return_type}}</b>
            </td>
        </tr>
        {% for k, v in serials_def[return_type].items() %}
        <tr>
            <td class='serial'>{{k}}</td>
            <td class='serial Des'>{{v}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <br>
            </td>
        </tr> {% endfor %}
    </table>
</p>
{% endblock %}