<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask CP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"> 
    $(document).ready(function () { 
        $(".toButton").click(function(){
             $("#inputTo").val(this.innerHTML);
        });
        $(".fromButton").click(function(){
             $("#inputFrom").val(this.innerHTML);
        });
        $("#btnDuty").click(function(){
            var duty = prompt("Enter the name of the new duty officer", "{{settings['Duty']}}" );
        });
        $("#btnCallsign").click(function(){
            var cs = prompt("Enter your Callsign", "{{settings['callsign']}}" );
        });
        $(".checkbox").click(function(){
            $("#printCheck").click
        });
        $(".lblRadio").click(function(){
            var radio = (this.id);
            (radio + "Radio").click()
        });
    });

    </script>

</head>

<body>
    <div class="banner" id="transmission">
        <a>Record Transmission</a>    
    </div>


    <table class="toFrom">
        <tr>
            <td class="serial">To:</td>    
            <td class="toFromStandard"><input id="inputTo" class="itext" type="text"/></td>
            <td class="toFromStandard"><button class="toButton">{{settings['callsign']}}</button></td> 
            <td class="toFromStandard"><button class="toButton">KGS</button></td> 
            <td></td>
            <td class="settings top left" align="right"><button id="btnCallsign">This Callsign</button></td>
            <td class="settings top right" align="right">{{settings['callsign']}}</td>

        </tr>
        <tr>
            <td class="serial">From:</td>    
            <td class="toFromStandard"><input id="inputFrom" class="itext" type="text"/></td>
            <td class="toFromStandard"colspan="2"><button class="fromButton">{{settings['callsign']}}</button></td>
            <td></td> 
            <td class="settings bottom left" align="right"><button id="btnDuty">Duty Officer</button></td>
            <td class="settings bottom right" align="right">{{settings['Duty']}}</td>
        </tr>
    </table>
    


    <h2>{{return_type}}</h2>

    <table class='return_table'>
        <tr class="head">
            <td class='serial'>Serial</td>
            <td class="value">Value</td>
            <td class='serialDes'>Description</td>
        </tr>
        <form>
        {% for serial, info in serials_def[return_type].items() %}
        <tr>
            <td class='serial'>{{serial}}</td>
            <td>
                {% if info['data_type'] == 'string' %}
                <input class="itext" name="{{serial}}" type="text"/> {% elif info['data_type'] == 'choice'%} {% for option in info['options'] %}
                <label class="lblRadio" id="{{option}}"><input class="itext" id="{{option}}Radio" name="{{option}}" type="radio">{{option}}</input></label>
                {% endfor %} {% elif info['data_type'] == 'long'%}
                <textarea class="itext return" name="{{serial}}" rows="4" cols="40"></textarea> {% elif info['data_type'] == 'location'%}
                <input class="itext" name="{{serial}}" type="text" id="" list="locs" />
                <datalist id="locs">
                    <option selected disabled>Choose</option>
                    {% for location in locs %}
                    <option value="{{location}}">{{location}}</option>
                    {% endfor %}
                </datalist>
                {% endif %}
            </td>
            <td class='serialDes'>{{info['desc']}}</td>
        </tr>
        {% endfor %}
    </table>

    <footer>
        <table class="footTable">
            <tr class=submit>
                <td><label class=checkbox><input type="checkbox" id="printCheck"> Print</label></td>
                <td><button class="record" type="submit" id="record">Record</button></td>
                <td><button id="cancel">Cancel</button></td>
            </tr>
        </table>
    </form>
    </footer>
</body>

</html>