<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask CP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"> 
    $(document).ready(function () { 
        $(".toButton").click(function(){
             $("#inputTo").val(this.innerHTML);
        });
        $(".fromButton").click(function(){
             $("#inputFrom").val(this.innerHTML);
        });
    });
    </script>

</head>

<body>
    <table class="toFrom">
        <tr>
            <td class="serial">To:</td>    
            <td class="toFromInput"><input id="inputTo" class="itext" type="text"/></td>
            <td><button class="toButton">{{settings['callsign']}}</button></td> 
            <td><button class="toButton">KGS</button></td> 
        </tr>
        <tr>
            <td class="serial">From:</td>    
            <td class="toFromInput"><input id="inputFrom" class="itext" type="text"/></td>
            <td><button class="fromButton">{{settings['callsign']}}</button></td> 
        </tr>
    </table>
    


    <h2>{{return_type}}</h2>

    <table class='return_table'>
        <tr class="head">
            <td class='serial'>Serial</td>
            <td class="value">Value</td>
            <td class='serialDes'>Description</td>
        </tr>
        {% for serial, info in serials_def[return_type].items() %}
        <tr>
            <td class='serial'>{{serial}}</td>
            <td>
                {% if info['data_type'] == 'string' %}
                <input class="itext" name="{{serial}}" type="text"/> {% elif info['data_type'] == 'choice'%} {% for option in info['options'] %}
                <input class="itext" name="{{serial}}" type="radio">{{option}}</input>
                {% endfor %} {% elif info['data_type'] == 'long'%}
                <textarea class="itext" name="{{serial}}" rows="5" cols="40"></textarea> {% elif info['data_type'] == 'location'%}
                <input class="itext" name="{{serial}}" type="text" id="" list="locs" />
                <datalist id="locs">
                    <option selected disabled>Choose</option>
                    {% for location in locs %}
                    <option value="{{location}}">{{location}}</option>
                    {% endfor %}
                </datalist>
                {% endif %}
            </td>
            <td class='serialDes'>{{info['desc']}}</td>
        </tr>
        {% endfor %}
    </table>
    <p> <b>Duty Officer: </b>{{settings['Duty']}}</p>
</body>

</html>