/* GENERAL */
body {
  background: #003E7E;
  font-family: Arial Narrow,Arial,sans-serif;
  letter-spacing: 0.5px;
}
*:focus {
  outline-color: #003E7E;
}

/* SECTION WRAPPER */
.wrapper {
  width: 70%;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1 {
  font-size: 48px;
  font-family: Arial Narrow,Arial,sans-serif;
  margin-bottom: 10px;
}
form p {
  font-family: Arial Narrow,Arial,sans-serif;
  font-size: 18px;
  margin: 0px 0 5px;
  line-height: 1.6;
}
/*form p,.stext,.special {
  padding-bottom: 6px;
  border-bottom: 2.5px solid #003E7E;
}
*/
/* HEADER */
header {
  position: relative;
  /*padding: 180px 0px 30px;*/
  color: #fff;
  background: url(maintdemAFX2018.png) no-repeat;
  background-size:auto;
  background-position: bottom;
}

/* SECTION */
section {
  background: #ffffff;
  padding: 20px 0;
}

/* FORM STYLES */
.input-wrap {
  margin-bottom: 10px;
}
select {
  display: block;
  margin-bottom: 50px;
}

.stext, .special{
  display: block;
  margin-bottom: 5px;
  font-family: Arial Narrow,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 8px 6px;
  font-size: 16px;
  border: 1px solid #003E7E;
  background: #999B9E;

}

textarea{
   margin-bottom: 50px;
   line-height: 1.6;
}

.itext{
   margin-bottom: 50px;
}


input[type="text"]{
  width: 100%;
}
.input-wrap.select-box {
  border: 1px solid #003E7E;
  background: #999B9E;
  width: 100%;
  height: 34px;
  padding: 0px 6px;
  margin-bottom: 50px;
}

.input-wrap.select-box:hover {
  background: #007DC3;
}

.input-wrap.select-box:hover select {
   color: #fff;
}

textarea {
  min-height: 100px;
}
select {
  border: none;
  background: transparent;
  font-family: Arial Narrow,Arial,sans-serif;
  letter-spacing: 0.5px;
  height: 34px;
  width: 100%;
}
select:hover {
  cursor: pointer;
}
input[type="submit"] {
  display: block;
  margin: 20px auto 50px;
  height: 34px;
  width: 125px;
  font-family: Arial Narrow,Arial,sans-serif;
  letter-spacing: 0.5px;
  background: #003E7E;
  border: 0px solid;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
input[type="submit"]:hover {
  background: #007DC3;
  cursor: pointer;
}

table {
   width: 100%;
}
.space{
   width: 20px;

}

.specialInput {
   margin-bottom: 20px;
}

h1{
   color: #007DC3;
}

h3{
   margin: 5px 0;
   color: #003E7E;
}
