{% extends 'layout.html' %} {% block body %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">  
  $(document).ready(function () {
    {% for return_type in serials_def %}
      $("#{{return_type}}").click(function () {
      $(".container-right").attr("src","testIndex/{{ return_type }}");
      {% for return_type in serials_def %}
        $("#{{return_type}}").attr("class","off")
      {% endfor %}
      $(this).attr("class","selected");
       });
    {% endfor %}
});
</script>




<section>
  <nav>
    <ul>
      <li>
        <a>Transmissions</a>
      </li>
      <li>  
        <button>MESSAGE</button>
      </li>

      {% for return_type in serials_def %}
      <li>
        <button href="#" id={{return_type}}>{{ return_type }}</button>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="container-right-main">
      <iframe id="data_entry" class="container-right" src="testIndex/LOCSTAT"></iframe>
  </div>
</section>

<footer>
  <p>Footer</p>
</footer>


{% endblock %}