{% extends 'layout.html' %} {% block body %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">  
  $(document).ready(function () {
    {% for return_type in serials_def %}
    var {{ return_type }} = "<h2>{{return_type}}</h2><table>{% for k, v in serials_def[return_type].items() %}<tr><td class='serial'>{{k}}</td><td class='text'><input class='itext' type='text'/></td><td class='serial Des'>{{v}}</td></tr>{% endfor %}</table>";
    {% endfor %}
    {% for return_type in serials_def %}
  $("#{{return_type}}").click(function () {
    //$(this).addClass(selected);
    $(".container-right").html({{return_type}});
    });
    {% endfor %}
  });
</script>




<section>
  <nav>
    <ul>
      {% for return_type in serials_def %}
      <li>
        <a href="#" id={{return_type}}>{{ return_type }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="container-right">
    <p>This is where the input for the admin return will be</p>
    <td class="text"><input class="itext" type="text"/></td>

  </div>
</section>

<footer>
  <p>Footer</p>
</footer>


{% endblock %}