
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="{{url_for('static', filename='jquery.autoSave.min.js')}}"></script>
<script type="text/javascript">  
  $(document).ready(function () {
    $("#refresh").click(function() {
        location.reload();
    });
    $(function() {
	$("#tabs").autoSave(callback, ms);
    });
    $("#text").autoSave(function() {
	    var time = new Date().getTime();
	    $("#msg").text("Draft Autosaved " + time);
    }, 500);
    
    
    });

</script>

{% extends 'layout.html' %} {% block body %}
    <div class="main">
            <div class="banner">
                <a>Notes</a>
                <button id="refresh">Refresh</button>    
            </div>
        <textarea class="notes itext" id="text"></textarea>
	    <span id="msg"></span>
    </div>
{% endblock %}