<link rel="stylesheet" href="/styles/min_main.css">
<script src="/js_files/jquery-3.1.1.js"></script>
<script type="text/javascript">

  $(document).ready(function () {
    $('#save_list').click(function(){
        let info = $('.list_values').val();
        $.ajax({
          type: "POST",
            url: '/settings/updatelist/'+$('#current').html(),
          data: ({lst: info}),
        });
    });
  });
</script>

<textarea class='list_values'>{% for location in locs %}
{{location}}{% endfor %}
</textarea>
<button id="save_list">Save</button>