{% extends 'layout.html' %} {% block body %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">  
  $(document).ready(function () {
    {% set i = 0 %}
    {% for entry in log %}
    $("#{{i}}").click(function () {
      $(".container-right").attr("src", "log/{{ i }}");
      $("#{{i}}").attr("class", "off")
      $(this).attr("class", "selected");
    });
    {% set i = i + 1 %}
    {% endfor %}
  });
</script>


<section>
  <div class="scrollmenu">
    <nav>
      <ul>
        <li>
          <a>Entries</a>
        </li>
        {% for entry in log %}
        <li>
          <button href="#" id={{i}}><h2>{{ entry['name'] }}</h2> <br> Sender: {{entry['sender']}} <br> Revicer: {{entry['reciver']}}</button>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="container-right-main">
    <iframe id="data_entry" class="container-right" src="log/MESSAGE" scrolling="yes"></iframe>
  </div>
</section>

{% endblock %}