{% extends 'layout.html' %} {% block body %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">  
  $(document).ready(function () {
    {% for entry in log %}
    $("#{{loop.index0}}").click(function () {
      $("#logPrint").attr("src", "log/{{loop.index0}}");
      {% for entry in log %}
      $("#{{loop.index0}}").attr("class", "rowOff")
      {% endfor %}
      $(this).attr("class", "rowSelected");
    });
    {% endfor %}
  });
</script>


<section>

  <div class="logLeft">
    <div class="banner">
        <a>Log</a>
    </div>
    <div class="logTable">
      <table class="tableLog">
        <tr>
          <td class="tdTime">Time</td>
          <td class="tdFrom">From</td>
          <td class="tdTo">To</td>
          <td class="tdType">Type</td>
        </tr>
        {% for entry in log %}
        <div class="entryRow">
          <tr class="rowOff" id={{loop.index0}}>
            <td>{{entry['time'] }}</td>
            <td>{{entry['sender']}}</td>
            <td>{{entry['receiver']}}</td>
            <td>{{entry['name'] }}</td>
          </tr>
        </div>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="logDisplay">
    <iframe id="logPrint" src="log/0" scrolling="yes"></iframe>
  </div>
</section>

{% endblock %}