<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Minesweeper - Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/minesweeper/minesweep.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <script src="/minesweeper/minesweeper2.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="minesweep">
        <div class="controls">
          <button @click="newGame()">New Game</button>
        </div>
        <table class="minesweeper">
          <tr v-for="(r,row) in tiles">
            <td v-for="(c,tile) in row"
                @click="openTile(r, c)"
                @contextmenu.prevent="flagTile(r, c)"
                :class="tile.classes">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="/minesweeper/minesweep.js"></script>
  </body>
</html>