{% extends '/includes/layout.html' %} {% block body %}
<div class="main">
    <div class="banner">
        <a>Notes</a>
    </div>
    <textarea class="notes itext" id="text"></textarea>
    <script type="text/javascript" src="/js_files/autosave.js"></script>
    <script type="text/javascript" src="/js_files/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AutoSave.start();
        })
        $(window).unload(function () {
            AutoSave.stop();
        });
    </script>
    <span id="msg"></span>
</div>
{% endblock %}