{% extends 'layout.html' %} {% block body %}
<div class="main">
    <div class="banner">
        <a>Notes</a>
    </div>
    <textarea class="notes itext" id="text"></textarea>
    <script type="text/javascript" src="autosave.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AutoSave.start();
        })
        $(window).unload(function () {
            AutoSave.stop();
        });
    </script>
    <span id="msg"></span>
</div>
{% endblock %}