<script type="text/javascript" src="/egg.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    var memes = new Egg("m,e,m,e,s", function() {
        alert('memes')
    }).listen();

    var memes = new Egg("c,q", function() {
        jQuery('#portaloo').fadeIn(500, function() {
        window.setTimeout(function() { jQuery('#portaloo').hide(); }, 1000);
    });
    }).listen();
});
</script>
<link rel="stylesheet" href="/styles/main.css">
<div class="inner">
    <h1>Info</h1>
    <p>Command Post 3.0 was made in 2018 by Trent Muskens and Renier Lambinon.</p>
    <p>It's first use was AFX 2019</p>
    <p>The previous version of the Command Post software (CP 2.0) was developed by Oliver Bolton and Alexander Bradner and was used from 2005 to 2018</p>
    <p> </p>
    <h2>Extra Facts:</h2>
    <ul>
        <li>Trent doesn't know how to use AJAX</li>
        <li>Trent often copied Renier's code</li>
    </ul>

</div>
<img src="/portaloo.png" id="portaloo">