<script type="text/javascript" src="/js_files/egg.js"></script>
<script type="text/javascript" src="/js_files/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var memes = new Egg("m,e,m,e,s", function () {
            alert('memes')
        }).listen();

        var memes = new Egg("c,q", function () {
            $('#portaloo').attr('src', '/images/portaloo.png');
            jQuery('#portaloo').fadeIn(500, function () {
                window.setTimeout(function () {
                    jQuery('#portaloo').hide();
                }, 1000);
            });
        }).listen();
    });
</script>
<link rel="stylesheet" href="/styles/main.css">
<div class="inner">
    <h1>Info</h1>
    <p>Command Post 3.0 was made in 2018 by Trent Muskens and Renier Lambinon.</p>
    <p>It's first use was AFX 2019</p>
    <p>The previous version of the Command Post software (CP 2.0) was developed by Oliver Bolton and Alexander Bradner
        and was used from 2005 to 2018</p>
</div>
<img id="portaloo">