<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask CP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function () {
            function post(path, params, method) {
                method = method || "POST"; // Set method to post by default if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);


                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        // make fields
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);
                        form.appendChild(hiddenField);

                        var hiddenField2 = document.createElement("input");
                        hiddenField2.setAttribute("type", "hidden");
                        hiddenField2.setAttribute("name", "page");
                        hiddenField2.setAttribute("value", window.location.pathname);


                        form.appendChild(hiddenField2);

                    }
                }

                document.body.appendChild(form);
                form.submit();
            }
            $(".toButton").click(function () {
                $("#inputTo").val(this.innerHTML);
            });
            $(".fromButton").click(function () {
                $("#inputFrom").val(this.innerHTML);
            });
            $("#btnDuty").click(function () {
                var duty = prompt("Enter the name of the new duty officer", "{{settings['Duty']}}");
                if (duty == null || duty == "") {
                }
                else {
                    post('/settings/Duty/', { name: duty });
                }
            });

            $("#btnCallsign").click(function () {
                var cs = prompt("Enter your Callsign", "{{settings['callsign']}}");
                if (cs == null || cs == "") {
                }
                else {
                    post('/settings/callsign/', { name: cs });
                }
            });

            $(".lblRadio").click(function () {
                var radio = (this.id);
                (radio + "Radio").click()
            });
            
            /*$("#record").click(function () {
                var checkbox = document.getElementById("printCheck")
                if (checkbox.checked == true){
                    window.frames["printf"].focus();
                    window.frames["printf"].print();
                    alert("memes")
                }
                else{
                }

            });*/

            $("#main_form").submit(function(e) {
                e.preventDefault();
                this.submit();
                setTimeout(function(){
                    var checkbox = document.getElementById("check")
                    if (checkbox.checked == true){
                        window.frames["printf"].focus();
                        window.frames["printf"].print();
                        alert("memes");
                    }
                    else{
                    }
                 }, 100);
               
            });

            function load() {
                {% if print == true %}
                    alert("memes");
                {% else %}
                    alert("false")
                {% endif %}
            };
    

        });

    </script>

</head>

<body onload="load()">

    <!--
    <iframe class="hidden" id="prev_return" src="/log/0"></iframe>
    <iframe class="hidden" id="prev_return" src="/log/0"></iframe>
    -->

    <div class="banner" id="transmission">
        <a>Record Transmission</a>
    </div>

    <form method="POST" id="main_form">
        <table class="toFrom">
            <tr>
                <td class="serial">To:</td>
                <td class="toFromStandard">
                    <input id="inputTo" name="receiver" class="itext" type="text" list="callsigns" autocomplete="off"/>
                        <datalist id="callsigns">
                            {% for callsigns in callsigns %}
                            <option value="{{callsigns}}">{{callsigns}}</option>
                            {% endfor %}
                        </datalist>
                </td>
                <td class="toFromStandard">
                    <button type="button" class="toButton">{{settings['callsign']}}</button>
                </td>
                <td class="toFromStandard">
                    <button type="button" class="toButton">KGS</button>
                </td>
                <td></td>
                <td class="settings top left" align="right">
                    <button type="button" id="btnCallsign">This Callsign</button>
                </td>
                <td class="settings top right" align="right">{{settings['callsign']}}</td>

            </tr>
            <tr>
                <td class="serial">From:</td>
                <td class="toFromStandard">
                    <input name="sender" id="inputFrom" class="itext" type="text" list="callsigns" autocomplete="off"/>
                </td>
                <td class="toFromStandard" colspan="2">
                    <button type="button" class="fromButton">{{settings['callsign']}}</button>
                </td>
                <td></td>
                <td class="settings bottom left" align="right">
                    <button type="button" id="btnDuty">Duty Officer</button>
                </td>
                <td class="settings bottom right" align="right">{{settings['Duty']}}</td>
            </tr>
        </table>

        <input type="hidden" name="Duty" value="{{settings['Duty']}}"/>

        {% block table %} {% endblock %}


        <footer>
            <table class="footTable">
                <tr class=submit>
                    <td>
                        <label class=checkbox>
                            <input type="checkbox" id="check" name="check"> Print</label>
                    </td>
                    <td>
                        <button id="record" class="button" type="submit" value="Submit">Record</button>
                    </td>
                    <td>
                        <button type="button" id="cancel">Cancel</button>
                    </td>
                </tr>

            </table>
        </footer>
    </form>
    <iframe src="/log/0" name="printf" scrolling="yes"  hidden="true" style="width:100%;"></iframe>
</body>

</html>