
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    width: 200px;
    background: #ccc;
    padding: 10px 20px;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    overflow-x: hidden;

    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

section{
    width:100%;

}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-left: 200px;
}

nav button {
    display: block; /* Make the links appear below each other */
    padding: 12px; 
    text-decoration: none; /* Remove underline from links */
    width: 100%;
    margin: 12px 0;
    font-weight: bold;
    font-size:14px;
}
nav button.selected {
    background-color: #666;
}

nav button.off {
    background-color: rgb(255, 255, 255);
}

nav a {
    display: block; /* Make the links appear below each other */
    padding: 12px; 
    text-decoration: none; /* Remove underline from links */
    width: 100%;
    margin: 12px 0;
    font-weight: bold;
    font-size:14px;
    background-color: dodgerblue;
    border-color: rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: white;
}

/*------------------------------------- Nav bar --------------------------------------*/

.topnav {
    overflow: hidden;
    background-color: #666;

    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  a.kgs{
    font-weight: bolder;
  }

  
  .topa:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  .topa.active {
    background-color: #ddd;
    color: black;
    
  }

/* ------------- iframe --------------------*/

#data_entry{
    height:500px;
    width:100%;
}

.container-right-main{
    padding-left:200px;
    width:100%;
    margin-top: 56px;
}
