<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="/js_files/jquery-3.1.1.js"></script>
</head>

<div class="topnav">
    <a class="kgs">
        <!--<img id="navImage" src="logo-mono.png">-->KGSACU Command Post</a>
    <a class="topa" href="/transmission" tabindex="-1">Record Transmission</a>
    <a class="topa" href="/log" tabindex="-1">Log</a>
    <a class="topa" href="/notes" tabindex="-1">Notes</a>
    <a class="topa" href="/settings" tabindex="-1">Settings</a>
    <a class="topa" href="/instructions" tabindex="-1">Instructions</a>
    <a class="topa" style="float:right" href="/RAPincoming" tabindex="-1"><strong>RAP Tent</strong></a>
</div>