<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainRAP.css') }}">
    <script src="/js_files/jquery-3.1.1.js"></script>
</head>

<div class="topnav">
    <a class="kgs">
        <!--<img id="navImage" src="logo-mono.png">-->KGSACU RAP Interface</a>
    <a class="topa" href="/RAPincoming" tabindex="-1">Interface</a>
    <a class="topa" href="/instructions" tabindex="-1">Instructions</a>
    <a class="topa" style="float:right" href="../" tabindex="-1"><strong>Back to CP</strong></a>
</div>


