<!doctype html>

<html lang="en">

<style type="text/css">
	#p {
		color: white;
		font-family: universltstd;
	}
	#droplist {
    	width: 284px !important;
    }
</style>
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
</head>
    <body background="/static/new/images/patterBG.jpg">
    <title>Cadets Training</title>

<div  align="center">
   <header>
   <a href="/">
    	<img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
    </a> 
   </header>
</div>
<div  align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li id="droplist"><a href="/track_map/dyn">View Map</a></li>
                <li id="droplist"><a href="/track_database">View Database</a></li>
				<li id="droplist"><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://cmaps-wiki.000webhostapp.com/">Wiki</a></li>
		<li><a href="http://cmaps.knox.nsw.edu.au/training/cadets">Training</a>
		<ul class="hidden">
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/signalers">Signals</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/operations">Operations</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/q-store">Q-Store</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/admin">Admin</a></li>
		</li>
	</ul>
</div>

 <div style="width: 70%;background-color: white; text-align: left; margin: 0 auto">
 <div style="width: 100%; padding: 30px 20px 30px 30px">
 <p><span style="font-weight: 400;">Training aims to adopt a greater understanding by people in the operating and running of the CMAPS device.</span></p>
<p><span style="font-weight: 400;">Training exercises to teach others how to use CMAPS for the website</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">CMAPS EX, where a group goes to different locations in the school to teach people how to get the longitude and latitude, and also to make sure it works.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lost exercise, where a platoon is &ldquo;lost&rdquo; and so then have to find there way back to HQ with the CMAPS unit, a map and compass and a radio.</span><span style="font-weight: 400;"><br /><br /></span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">How to turn the Unit </span><strong>on</strong></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Open the unit housing. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Connect the USB cable to a power pack. </span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">How to turn the Unit </span><strong>off</strong></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Hold down the power button on the battery pack or</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Unplug the Usb cable from the battery</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Check that the LCD screen is no longer on</span></li>
</ul>
</ul>
 <p>See links below:</p>
 <a href="/training/signalers" id="p" style="margin-left: 400px; margin-top: 200px; font-size: 40px; color:black">Sigs</a>
 <p> </p>
 <a href="/training/operations" id="p" style="margin-left: 400px; margin-top: 200px; font-size: 40px; color:black">Ops</a>
 <p> </p>
 <a href="/training/q-store" id="p" style="margin-left: 400px; margin-top: 200px; font-size: 40px; color:black">Q-Store</a>
 <p> </p>
 <a href="/training/admin" id="p" style="margin-left: 400px; margin-top: 200px; font-size: 40px; color:black">Admin<br></a>
 <br>
 <br>
 <a href="https://docs.google.com/presentation/d/16j_W4ppApTAXE6O6Vv8B2bux1aZmtYaK4-O3eD7gDl4/edit?usp=sharing" id = "p" style="margin-left: 400px; margin-top:200px; font-size:40px; color:black">Training powerpoint<br></a>   
 </div>
 
		</div>
 
 
 
<div style="margin-bottom: 80px;"></div>
</body>
</html>
