<!doctype html>

<html lang="en">

<style type="text/css">
	#p {
		color: white;
		font-family: universltstd;
	}
	#droplist {
    	width: 284px !important;
    }
</style>
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
</head>
    <body background="/static/new/images/patterBG.jpg">
    <title>Admin</title>

<div  align="center">
   <header>
   <a href="/">
    	<img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
    </a> 
   </header>
</div>

<div  align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li id="droplist"><a href="/track_map/dyn">View Map</a></li>
                <li id="droplist"><a href="/track_database">View Database</a></li>
				<li id="droplist"><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://cmaps-wiki.000webhostapp.com/">Wiki</a></li>
		<li><a href="http://cmaps.knox.nsw.edu.au/training/cadets">Training</a>
		<ul class="hidden">
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/signalers">Signals</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/operations">Operations</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/q-store">Q-Store</a></li>
			<li id="droplist"><a href="http://cmaps.knox.nsw.edu.au/training/admin">Admin</a></li>
		</li>
	</ul>
</div>

<div style="width: 80%;background-color: white; padding: 30px 30px; margin: 0 auto">

<h1><span style="font-weight: 400;">Admin</span></h1>
<p><em><span style="font-weight: 400;">For the cmaps units</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">How to monitor the map</span></li>
</ul>
<p><em><span style="font-weight: 400;">For the nav checkpoints</span></em></p>
<ul>
<li style="font-weight: 400;"></li>
</ul>
<p><em><span style="font-weight: 400;">For the harbour lights</span></em></p>
<ul>
<li style="font-weight: 400;"></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;"></span></p>




<div style="margin-bottom: 80px;"></div>
</body>
</html>
