html {
    overflow: hidden;

}

* {
    box-sizing: border-box;
}

body {
    /*padding-top: 90px;*/
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 11pt;
}

/* Style the header */
header {
    background-color: #67747c;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other 
div.scrollmenu {
    position: fixed;
    z-index: 1;
    top: 145px;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
*/
nav {
    
    width: 200px;
    background: #ccc;
    padding: 10px 20px;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    overflow-x: hidden;

    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    /*overflow-y: scroll;*/
    padding: 0;
}

section{
    width:100%;

}

/* Clear floats after the columns 
section:after {
    content: "";
    display: table;
    clear: both;
}*/


nav button {
    display: block; /* Make the links appear below each other */
    padding: 12px; 
    text-decoration: none; /* Remove underline from links */
    width: 100%;
    margin: 12px 0;
    font-weight: bold;
    font-size:14px;
}

nav button:hover{
    cursor: pointer;
}

nav button.selected {
    background-color: #67747c;
    color:white;
}

nav button.off {
    background-color: rgb(255, 255, 255);
}

nav a {
    display: block; /* Make the links appear below each other */
    padding: 12px; 
    text-decoration: none; /* Remove underline from links */
    width: 100%;
    margin: 12px 0;
    font-weight: bold;
    font-size:14px;
    background-color: #288ad6;
    border-color: rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: white;
}

/*------------------------------------- Nav bar --------------------------------------*/

.topnav {
    overflow: hidden;
    background-color: #67747c;

    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  a.kgs{
    font-weight: bolder;
  }

  
  .topa:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  .topa.active {
    background-color: #ddd;
    color: black;
    
  }

  #navImage{
    height:15px;

  }

/* --------------------------- iframe --------------------*/

#data_entry{

    height:100%;
    width:100%;
    /*margin-bottom:100px;  only use when ther is footer*/
}

.container-right-main{
    position: fixed;
    top:0;
    bottom: 6px;
    left:6px;
    right: 6px;

    margin-left:200px;
    margin-top: 56px;
}


/* ------------------- Abstracted Return -------------------*/
.return_table{
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

.return_table td{
    padding:6px 12px;
    vertical-align: top;
}

.head {
    background-color: #f2f2f2;
    border-spacing: 0;
}

.head td{
    font-weight:bold;
    border-spacing:0;
}

.value{
    width: 300px;

}

.serial {
    width:50px;
    font-weight:bold;
}

textarea.return {
    resize: none;
    font-size: 10pt;

    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;
}

textarea.message {
    resize: none;
    font-size: 10pt;

    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;

    width:100%;
    height: 400px;
}

input[type="text"] {
    padding: 2px 6px;
    width: 150px;
}

input{
    font-size: 10pt;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;
}

.toFrom{
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

.toFromStandard button{
    width:75px;
    font-size: 10pt;
}

.toFrom td {
    padding:4px 4px;
}

.banner {
    overflow: hidden;
    background-color: #288ad6;
    width: 100%;
  }
  
  #transmission{
    margin-bottom:8px;
  }

  .banner a {
    float: left;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:bold;
  }

.toFromStandard{
    width: 79px
}

.settings {
    width:100px;
    text-align: left;
    font-size: 11pt;
}

.settings button {
    width:100px;
    font-size: 10pt;
/* Night mode only
    display: block; 
    text-decoration: none; 
    border: 1px solid #288ad6;
    background-color: transparent;
    color: #288ad6;
    border-radius: 5px 
    */
    
}


.left{
    border-left:1px solid rgb(187, 187, 187);
}
.right{
    border-right:1px solid rgb(187, 187, 187);
}
.top{
    border-top:1px solid rgb(187, 187, 187);
}
.bottom{
    border-bottom:1px solid rgb(187, 187, 187);
}

/* ----------------------- Footer ---------------------*/

footer {
    padding: 10px;
    text-align: center;
    font-size:10pt;
    position: fixed;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color:white;
}

.footTable {
    border-spacing:0;
    border-collapse: collapse;
}

.submit button{
    font-size:10pt;
    border-radius: 5px;
    text-align: center;
    width: 75px;
}

.submit td {
    border-top: 1px solid rgb(187, 187, 187);
    padding:8px 4px;
    vertical-align: middle;
}

label:hover{
    cursor: pointer;
}


/* ----------------- Notes -----------------------------*/
.main {
    position: fixed;
    top:0;
    bottom: 6px;
    left:6px;
    right: 6px;
    margin-top:56px;
    border: 2px solid rgb(187, 187, 187);
}


.notes{
    position: absolute;
    top:36px;
    bottom: 0px;
    left:0px;
    right: 8px;


    font-size: 12pt;
    padding:8px;
    width:100%;
    line-height: 22px;

    border:none;
    outline:none;
    resize: none;
}

.notes:focus{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.mainSetting {
    position: fixed;
    top:0;
    bottom: 6px;
    left:6px;
    right: 6px;
    margin-top:56px;
}

.divLeft{
    border: 2px solid rgb(187, 187, 187);
    float: left;
    height: 100%;
    width:49.5%;

}

.divRight{
    border: 2px solid rgb(187, 187, 187);
    float: right;
    height: 100%;
    width:49.5%;

}

.inner{
    padding:12px;
    line-height: 24px;
}

/*---------------------------- LOG --------------------*/
.logTable{
    width:500px;
    padding: 10px 20px;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    overflow-x: hidden;

    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px;
}

.logDisplay{
    position: fixed;
    top:0;
    bottom: 6px;
    left:6px;
    right: 6px;

    margin-left:500px;
    margin-top: 56px;

}

#logPrint{
    height:100%;
    width:100%;
}

.tableLog{
    border:1px solid black;
    border-collapse: collapse;
}

.tableLog td{
    border:1px solid black;
}

.rowSelected{
    background-color: #ccc;
    cursor: pointer;
}

.rowOff{
    background-color: transparent;
    cursor: pointer;
}


